<!DOCTYPE html>
<html ng-app="App">

<head>
  <meta charset="utf-8">
  <title>公司信息_求职学堂_职业蛙</title>
  <meta name="description" content="这里收录了10000+热门公司信息,包括了详细的公司介绍和在招职位,帮助学生选择合适的公司和职位,走准职业第一步。">
  <meta name="keywords" content="公司信息,咨询,金融,互联网,500强,实习,应届生,企业,名企,公司简介,公司详情,官网,在招职位,类似公司。">

  <link rel="stylesheet" href="//at.alicdn.com/t/font_302276_v3bjsrdmxxmholxr.css">
  <script src="/scripts/vendor-flexible.js"></script>
  <link rel="stylesheet" href="/scripts/company-detail-mobile-main.css">
  <!-- <script src="/scripts/company-detail-mobile-style.js"></script> -->
</head>

<body ng-controller="companyDetailMobileCtrl as vm" ng-cloak>
  <page-title title="公司详情" customized-go-back="vm.goBack"></page-title>
  <section class="company-main-info page-padding">
    <div class="company-card">
      <img src="<%= company.imageUrl %>" alt="">
      <dl class="">
        <dt><%- company.name %></dt>
        <dd>
          <strong><%- company.industry.name %></strong>
          <% if(company.size && company.size.name !== '暂无') {%>
            <strong><%- company.size.name %></strong>
            <% } %>
        </dd>
        <dd class="salary-location">
          <% if(company.averageSalary) {%>
            <label>平均薪资： <%- company.averageSalary %></label>
          <% } %>
          <% if(company.city && company.city.name !== '暂无') {%>
            <span><%- company.city.name %></span>
          <% } %>

        </dd>
      </dl>
    </div>
    <% if(company.companyLabel){%>
      <div class="company-label-container">
        <span class="company-label"><%- company.companyLabel%></span>
      </div>
      <%}%>
  </section>

  <nav du-scroll-container="scroll-container">
    <a href="#introduction" du-smooth-scroll du-scrollspy>公司介绍</a>
    <a href="#positions" du-smooth-scroll du-scrollspy>在招职位</a>
  </nav>
  <section class="scroll-container" id="scroll-container">
      <div class="introduction" id="introduction">
        <div class="column-header">
          <i class="iconfont icon-position" aria-hidden="true"></i> 公司简介
        </div>
        <div class="introduction-content">
          <%- company.introduction %>
        </div>

      </div>

      <div class="recruiting-position page-padding" id="positions">

        <div class="column-header">
          <i class="iconfont icon-intro" aria-hidden="true"></i> 在招职位（{{vm.oppsCount}}）
        </div>
        <div class="recruit-section campus-recruit">
          <div class="title"><span>校招网申</span></div>
          <ul>
            <li ng-repeat="position in vm.campusRecruitArray" ng-click="vm.goCampusDetail(position)">
              <ul class="position-detail">
                <li>
                  <strong class="position-name">{{position.position}}</strong>
                  <span>{{position.applyStart | date: 'MM-dd'}}</span>
                </li>
                <li>
                  <strong class="location">
                    <i class="iconfont icon-zuobiao" aria-hidden="true"></i>
                    {{position.locations[0].name}}
                  </strong>
                  <span ng-bind="position.category.name" class="category"></span>
                </li>
              </ul>
            </li>
          </ul>
          <section class="list-is-null" ng-if="!vm.campusRecruitArray.length">
            <img src="/images/no-campus-recruit.png" alt="">
          </section>
        </div>
        <div class="recruit-section daily-recruit">
          <div class="title"><span>日常招聘</span></div>
          <ul>
            <li ng-repeat="position in vm.oppArray" ng-click="vm.goOppDetail(position)">
              <ul class="position-detail">
                <li>
                  <strong ng-bind="position.position" class="position-name"></strong>
                  <span>{{position.publishDate | date: 'MM-dd'}}</span>
                </li>
                <li>
                  <strong class="location">
                    <i class="iconfont icon-zuobiao" aria-hidden="true"></i>
                    {{position.locations[0].name}}
                  </strong>
                  <span ng-bind="position.category.name" class="category"></span>
                </li>
              </ul>
            </li>
          </ul>
          <section class="list-is-null" ng-if="!vm.oppArray.length">
            <img src="/images/no-position.png" alt="">
          </section>
        </div>
      </div>
  </section>
  <script>
    window.company = <%- JSON.stringify(company) %>;
  </script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="/scripts/company-detail-mobile-main.js"></script>
  <script>
    angular.module('App')
    .constant('company', <%- JSON.stringify(company) %>)
    .constant('similarCompany', <%- JSON.stringify(similarCompany) %>)
    .constant('BASE_URL', '<%= BASE_URL %>')
    .constant('API_BASE_URL', '<%= API_BASE_URL %>');
  </script>

</body>

</html>
