<!DOCTYPE html>
<html ng-app="App">

<head>
  <meta name="baidu-site-verification" content="vENBYR0MC7" />
  <title>求职学堂,教你如何拿offer|职业蛙</title>
  <meta charset="utf-8">
  <meta name="description" content="求职学堂,职业蛙精心打造的机会信息共享平台。这里有精选的名企职位、最新校招时间、实用的求职资料并提供一站式求职解决方案,切实帮助大学生走好求职每一步。">
  <meta name="keywords" content="求职学堂,职业蛙,名企职位,网申,四大,咨询,快消,银行,金融,互联网,名企,500强,校招,社招,海归求职,留学生求职,实习,全职">

  <!-- <script src="/scripts/app-pc-style.js"></script> -->
  <link rel="stylesheet" href="/scripts/app-pc-main.css">
</head>

<body ng-controller="opportunityCtrl as vm">
  <header class="clearfix page-header">
    <div class="wrap">
      <h1 class="logo"></h1>
      <div class="account-wrap">
        <account-nav user="vm.user"></account-nav>
      </div>
      <ul class="clearfix nav">
        <li><a href="javascript:;" class="active">名企实习</a></li>
        <li>
          <a href="/recruit_calendar">校招日历</a>

        </li>
        <li><a href="/discovery">求职探索</a></li>
        <li class="kit">
          <a href="/interview_material" class="kit">面试锦集</a>
          <img src="/images/interview-material/kit.png" />
        </li>
        <li class="swich-wrap">
          <swich swich-status="vm.swichStatus" swich-lable="vm.swichLable" call-back="vm.toggleDanmu()"></swich>
        </li>
      </ul>
    </div>
  </header>

  <div class="danmu-wrap">

    <dan-mu dan-mu-status="vm.swichStatus" img-src="vm.imgSrc"></dan-mu>
  </div>

  <section class="search-bar">
    <h3 class="">
      <span ng-bind="vm.oppCount"></span>
      个名企职位
    </h3>
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-sousuo"></use></svg>
    <input type="text" name="" value="" ng-model="vm.params.keyword" placeholder="搜索职位/公司/城市">
    <a href="javascript:;" ng-click="vm.search()">搜索</a>
  </section>
  <section class="location-industry-search">
    <location-selector selected-location="vm.params.location"></location-selector>
    <industry-selector selected-industry="vm.params.industry"></industry-selector>
  </section>
  <section class="count-result" ng-cloak>
    <p ng-if="vm.params.keyword || vm.params.industry.name !== '不限' || vm.params.location.name !== '不限'">共计 <span>{{vm.totalItems}}</span> 个结果</p>
  </section>
  <section class="position-list clearfix">
    <% for(var i=0; i<opps.length;i++) {%>
      <a href="/opportunity/<%- opps[i].id %>" class="position-detail" ng-click="vm.saveStatus()">
        <% if(opps[i].company.companyLabel) {%>
          <p class="tag">
            <%- opps[i].company.companyLabel %>
          </p>
          <% } %>
            <figure>
              <img src="<%- opps[i].company.imageUrl %>" alt="<%- opps[i].company.name %>">
              <figcaption>
                <h3><%- opps[i].position %></h3>
                <p class="company">
                  <strong><%- opps[i].company.name %></strong>
                  <span class="category"><%- opps[i].category.name %></span>
                </p>
                <p class="location">
                  <span>
                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-zuobiao"></use></svg>
                <!-- <span ng-repeat="l in opp.locations">{{l.name}}&nbsp;</span> -->
                  </span>
                  <time><%- opps[i].publishDate %></time>
                </p>
              </figcaption>
            </figure>
      </a>
      <% } %>
  </section>
  <div class="pagination-wrap" ng-if="vm.totalPages > 1">
    <uib-pagination id="pagination" class="pagination-sm clearfix" previous-text="上一页" next-text="下一页" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.pageNum" max-size="6" ng-change="vm.pageChanged()" force-ellipses="true"></uib-pagination>
  </div>
  <user-feedback></user-feedback>

  <%- include('../../templates/footer'); %>
  <script src="//at.alicdn.com/t/font_302276_h29t7hbpdoqrggb9.js"></script>
  <script src="/scripts/app-pc-main.js"></script>

  <script>
    angular.module('App')
      .constant('$USER', <%- JSON.stringify(user) %>)
      .constant('API_BASE_URL', '<%= API_BASE_URL %>')
      .constant('CF_FILE_BASE_URL', '<%= CF_FILE_BASE_URL %>');
  </script>

</body>

</html>
