<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>校招日历_求职学堂_职业蛙</title>
    <meta name="description" content="提供最具参考力的校招时间信息,公司校招预测抢先看。">
    <meta name="keywords" content="校招日历,校招时间,应届秋招,应届生,18届秋招,500强,名企,校招预测,秋招预测。">

    <script src="/scripts/recruit-calander-upcoming-pc-style.js"></script>
  </head>
  <body>
    <div class="banner">
    </div>
    <div class="main-content">
      <div class="bg">
      </div>
      <p class="tips">该公司校招暂未开启</p>
      <p class="tips">预计时间：<%- oppDetail.applyStart %>~<%- oppDetail.applyEnd  || '待定'%></p>
      <p class="tips">校招日历将实时更新校招信息</p>
      <div class="main-list clearfix">
      <% if (recruitRecommend.length) {%>
        <h3 class="title">推荐校招</h3>
        <% for (var i = 0; i < recruitRecommend.length; i++) { %>
          <a class="campus-recruit-detail" href="<%- recruitRecommend[i].opportunity.applyLink%>">
            <div class="company-info">
              <img src="<%- recruitRecommend[i].imageUrl%>" alt="">
              <ul class="info">
                <li class="name"><%- recruitRecommend[i].name%></li>
                <% if (recruitRecommend[i].industry) {%>
                  <li>行业：<span><%- recruitRecommend[i].industry.name%></span></li>
                <% } else {%>
                  <li>行业：<span>暂无</span></li>
                <% } %>
                <% if (recruitRecommend[i].size) {%>
                  <li>规模：<span><%- recruitRecommend[i].size.name%></span></li>
                  <% } else {%>
                    <li>行业：<span>暂无</span></li>
                <% } %>
              </ul>
            </div>
            <% if (recruitRecommend[i].text) {%>
              <p class="introduction"><%- recruitRecommend[i].text %></p>
              <% } else {%>
                <p class="introduction">简介：暂无</p>
            <% } %>
            <p class="date-info">校招时间：<%- recruitRecommend[i].opportunity.applyStart %> ~
              <% if (!recruitRecommend[i].opportunity.applyEnd) {%>
                <%- recruitRecommend[i].opportunity.applyEnd %>
              <% } else {%>
                待定
              <% } %>
            </p>
            <% if (recruitRecommend[i].opportunity.applyStatus === 'waiting') {%>
              <span class="status plan">未开始</span>
            <% } %>
            <% if (recruitRecommend[i].opportunity.applyStatus === 'ongoing') {%>
              <span class="status proceed">进行中</span>
            <% } %>
            <% if (recruitRecommend[i].opportunity.applyStatus === 'finished') {%>
              <span class="status finished">已结束</span>
            <% } %>
          </a>

        <% } %>
      <% } %>
    </div>
    </div>

    <footer class="page-footer">
      <p>版权所有：上海凯洛格信息科技有限公司</p>
    </footer>

  </body>
</html>
