<!DOCTYPE html>
<html ng-app="App">

<head>
  <meta charset="utf-8">
  <title>2018环英校招嘉年华</title>
  <meta name="description" content="名校环英30天，走进15余所顶尖名校，宣讲企业文化，精选名企职位投递，直达HR邮箱">
  <meta name="keywords" content="环英,校招,名企，名校，留学生,500强,全英,校园招聘,毕业生">

  <script src="http://static.careerfrog.com.cn/cf-college/scripts/vendor-flexible.f238aaa2.js"></script>
  <link rel="stylesheet" href="/scripts/uk-company-detail-mobile-main.css">
  <!-- <script src="/scripts/uk-company-detail-mobile-style.js"></script> -->
</head>

<body ng-controller="companyDetailMobileCtrl as vm" ng-cloak>
  <h1 class="page-title">
    <div class="svg-wrap">
      <svg class="icon" ng-click="vm.goBack()" aria-hidden="true"><use xlink:href="#icon-arrow-left-"></use></svg>
    </div>
    公司详情
  </h1>
  <a href="/university_tour" class="banner"></a>
  <!-- <div class="banner">

  </div> -->
  <section class="company-main-info">
    <!-- <a href="/university_tour" class="index-link"></a> -->
    <div class="company-card">
      <img src="<%= company.imageUrl %>" alt="">
      <dl class="">
        <dt><%- company.name %></dt>
        <dd>
          <strong><%- company.industry.name %></strong>
          <% if(company.size) {%>
            <strong><%- company.size.name %></strong>
            <% } %>
        </dd>
        <!-- <dd class="salary-location">
          <label>平均薪资： <%- company.averageSalary %></label>
          <span><%- company.city.name %></span>
        </dd> -->
      </dl>
    </div>
    <% if(company.companyLabel){%>
      <div class="company-label-container">
        <span class="company-label"><%- company.companyLabel%></span>
      </div>
      <%}%>
  </section>

  <!-- <nav du-scroll-container="scroll-container">
    <a href="#introduction" du-smooth-scroll du-scrollspsy>公司介绍</a>
    <a href="#positions" du-smooth-scroll du-scrollspy>环英职位</a>
  </nav> -->
  <section class="scroll-container" id="scroll-container">
      <div class="introduction" id="introduction">
        <div class="column-header">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-position"></use></svg> 公司简介
        </div>
        <div class="introduction-content">
          <%- company.introduction %>
        </div>

      </div>

      <div class="recruiting-position" id="positions">

        <div class="column-header">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-intro"></use></svg> 环英职位（{{vm.oppsCount}}）
        </div>
        <div class="recruit-section daily-recruit">
          <ul>
            <li ng-repeat="position in vm.oppArray" ng-click="vm.goOppDetail(position)">
            <!-- <li ng-repeat="position in vm.oppArray" > -->
              <ul class="position-detail">
                <li>
                  <strong ng-bind="position.position" class="position-name"></strong>
                  <span ng-if="position.applyStart">{{position.applyStart | date: 'MM-dd'}} 开启网申</span>
                </li>
                <li>
                  <strong>
                    <svg class="icon" aria-hidden="true" ng-if="position.locations"><use xlink:href="#icon-zuobiao"></use></svg>
                    {{position.locations[0].name}}
                  </strong>
                  <span class="category">环英专属职位</span>
                  <!-- <span ng-bind="position.category.name" class="category"></span> -->
                </li>
              </ul>
            </li>
          </ul>
          <section class="list-is-null" ng-if="!vm.oppArray.length">
            <img src="http://static.careerfrog.com.cn/cf-college/images/no-position.2748f857.png" alt="">
          </section>
        </div>
      </div>

  </section>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script>window.company= <%- JSON.stringify(company) %></script>

  <!-- svg -->
  <script src="//at.alicdn.com/t/font_302276_v3bjsrdmxxmholxr.js"></script>
  <script src="/scripts/uk-company-detail-mobile-main.js"></script>

  <script type="text/javascript">angular.module("App").constant("company", <%- JSON.stringify(company) %>).constant("similarCompany", <%- JSON.stringify(similarCompany) %>).constant("API_BASE_URL","<%= API_BASE_URL %>")</script>
</body>

</html>
